# Python
*.pyc
*.pyo
*.pyd
__pycache__/
env/
venv/
ENV/
*.sqlite3
*.db

# Django
*.log
*.pot
*.pyc
*.db
*.sqlite3
media/
staticfiles/

# IDEs
.vscode/
.idea/

# System Files
.DS_Store
Thumbs.db

# Python environment
.env
.venv
env/
venv/
ENV/
