
{% extends 'consultas/base.html' %}
{% load static %}


{% block title %}Registro{% endblock %}

{% block content %}
<h2>Registro</h2>
<form method="post">
    {% csrf_token %}
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>

    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido" name="apellido" required>

    <label for="correo">Correo:</label>
    <input type="email" id="correo" name="correo" required>

    <label for="contrasena">Contraseña:</label>
    <input type="password" id="contrasena" name="contrasena" required>

    <label for="tipo_usuario">Tipo de Usuario:</label>
    <select id="tipo_usuario" name="tipo_usuario" required>
        <option value="doctor">Doctor</option>
        <option value="paciente">Paciente</option>
    </select>

    <button type="submit">Registrar</button>
</form>
{% endblock %}
